#head {
    width: 90%;
    background: #8CBC6E;
    height: 50px
}
body {
    background: #D5F8D5;
    color: #000000;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 14px auto;
	margin: 0 auto;
	width: 90%;
}
   a { color: #008BCE;}

#container {
	width: 100%;
	background: #A8CA94;
	border: solid 1px #ddd;
	height: auto
    margin:auto;
    overflow:hidden;
    display:table;
}

#selection{
    font-size: 16px auto;
    width: 25%;
    padding: 10px
    background: #8CBC6E;
    position: fixed;
    left: 8%;
    top: 3%;
    z-index: 5;

}
#navigation{
    font-size: 16px auto;
    width: 25%;
    position: fixed;
    left: 8%;
    top: 40%;
    z-index: 5;
    padding: 10px
    background: #8CBC6E;

}
#content {
    float: right;
    padding: 20px;
    width: 65%;
	background: #eee;
	border: solid 1px #ddd;
	display:table-cell;
}
#footer {
    width: 100%;
    margin: 0 auto;
    clear: both;
    padding: 5px;
    background: #8CBC6E;
    text-align: center;
}
