<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/style.css' %}" />
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>{% block title %}Products site{% endblock %}</title>
</head>

<body>

<div id="container">
    <div id="selection">Selector:
        {% block selection %}
            <br>
            <form>
                {% csrf_token %}
                {{ search_form.as_ul }}
                <input type="submit" name="Submit" value="Submit"/>
            </form>
        {% endblock %}
    </div>

    <div id="navigation">Links:
        {% block navigation %}
        <div class="pagination">
            <span class="step-links">
                {% if production_list.has_previous %}
                    {% if 'hi' in request.GET %}
                        <a href="{{ request.build_absolute_uri }}
                        &page={{ production_list.previous_page_number }}">previous</a>
                    {% else %}
                        <a href="?page={{ production_list.previous_page_number }}">previous</a>
                    {% endif %}
                {% endif %}
                
                <span class="current">
                    Page {{ production_list.number }} of {{ production_list.paginator.num_pages }};
                </span>

                {% if production_list.has_next %}
                    {% if 'hi' in request.GET %}
                        <a href="{{ request.build_absolute_uri }}
                        &page={{ production_list.next_page_number }}">next</a>
                    {% else %}
                        <a href="?page={{ production_list.next_page_number }}">next</a>
                    {% endif %}
                {% endif %}<br>
            </span>
        </div>
        {% endblock %}
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
</div>
</body>
<div id="footer">
    {% block footer %}
        <p>&copy; Daniil Anichin</p>
    {% endblock %}
</div>
</html>